/*
this solves the problem that on loading the page after clearing the cache and refershing the page with Ctrl 5
all the accessibility icons appear on the upper right of the page before the page has finished loading
so we hide it in style.css and show it when the page is ready with JQuery in menu.js
*/
.coolaxs_accessibility_panel_container {
    display:none;
}

.coolaxs_buttons {
	vertical-align: middle;
	width: 50px;/* media changes it to 60 abuve 1024 pixek screen width*/
	font-size: 20px;
	font-family: Arial;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.1618);
	background-color: #f5f5f1;
	padding-top: 3px;
	margin: 0px;
	text-align:center;
	position:relative;
	display:flex;
	flex-direction:column;
	
	
}

.coolaxs_buttons span { 
    display:none;
 
    padding:2px;
    /*color:white;*/
    font-size:0.9523809524vw;/* 16px; */
    font-weight:bold;
    font-family:Arial;
	word-spacing:0.1785714286vw;/* 3px; */
}



.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_buttons span,
.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_buttons span
{
    background:rgba(255,255,255,0.8);
    position:absolute;
    bottom:-5px;
    left:5px;
}

.coolaxs_toggle_accessibility_panel span { 
    border-radius:6px;
    padding-right:0px;/* 2px */
    /*color:white;*/
    font-size:0.95238vw/* 16px */;
    font-weight:bold;
    font-family:Arial;
    width:2.38095vw/* 40px */;
    background:rgba(255,255,255,0.75);
    position:absolute;
    bottom:-18px;/* -8px */
	left: 1px;/* -2px */
	text-align: center;
}

.coolaxs_buttons img {
    width:1.7857vw/* 30px */;
    height:1.7857vw/* 30px */;

    margin:0.1787vw auto;
}
.coolaxs_mobile .coolaxs_buttons img {
    width:30px;
    height:30px;

    margin:3px auto;    
}


.coolaxs_dark_contrast2 *{
    border-radius:6px;
    background:#f2f2f2!important;
}
.coolaxs_dark_contrast2 img{
    border:2px solid #f2f2f2!important;
    background:#f2f2f2!important;/* this is needed because if we go from normal mode to dark contrast mode with changed font-size so it will go back to this color upon reset*/
}
.coolaxs_dark_contrast2.coolaxs_acivated_button img{
    background:#a2a2a2!important;
}
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_dark_contrast2 span,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_dark_contrast2 span{
    background:transparent!important;
}
.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_dark_contrast2 span,
.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_dark_contrast2 span{
    background:rgba(9, 49, 69,0.8) !important;/* #093145 Iuse the rgb with some transperancy*/
}
.coolaxs_buttons2 img {
    width:1.7857vw/* 30px */;
    height:0.9333/* 18px */;	
/*     width:30px;    height:18px; */
}
.coolaxs_buttons:hover , .coolaxs_buttons:focus  {
    cursor:pointer;
}





.coolaxs_buttons:hover img, .coolaxs_buttons:focus img {
    width:2.38095vw!important/* 40px */;
    height:2.38095vw!important/* 40px */;
}



.coolaxs_highlight_links {
    border-bottom:4px solid #ef4381;
}
.coolaxs_acivated_button, .coolaxs_acivated_button * {
    background-color:#cccccc!important;
}




.coolaxs_buttons_group {
    position:relative;/* because inside it there is position absolute for opening the submenus like in font-size */
	display:flex;
}
/* פתיחת תת-תפריט נגישות למצב תפריט נגישות ימני */
.COOL_ACCESSIBILITY_right_accessibility_panel #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_right_accessibility_panel #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_right_accessibility_panel #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_right_accessibility_panel #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_right_accessibility_panel #coolaxs_button_group_font_size {
    background-color:#eee;
    border:2px solid #999999;
	border-radius:10px  0 0 10px;
    display:none;
    text-align:justify;
	display:flex;
}
/* zoom text window accessibility should be above it */

.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_accessibility_panel_container {
	position:fixed!important;
    top:5.6547vw;/* 95px; */
	right:0px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_accessibility_panel {
	position:relative;
	display:flex;
	flex-direction:column;
 }

 /* פתיחת תת-תפריט נגישות למצב תפריט נגישות שמאלי */
.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_font_size {
    background-color:#eee;
    border:2px solid #999999;
	border-radius: 0 10px 10px  0 ;
    display:none;
    text-align:justify;
	display:flex;
	flex-direction:raw-reverse;
	
	position:absolute;
    left:3.571428vw;/* 60px; */
}
/* zoom text window accessibility should be above it */




.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container {
	position:fixed!important;
    top:5.6547vw;/* 95px; */
	left:0px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel {
	position:relative;
	display:flex;
	flex-direction:column;
 }


.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container {
	position:fixed!important;
    bottom:0px;
    right:4.7619047619vw;/* 80px; */
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel {
	position:relative;
	display:flex;
	flex-direction:row;
 }

/* פתיחת תת-תפריט נגישות למצב תפריטנגישות תחתון */
.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_font_size {
    background-color:#eee;
    border:2px solid #999999;
	border-radius:10px 10px 0 0;
    display:none;
    text-align:justify;
	display:flex;
	flex-direction:column;	
	
	position:absolute;
    bottom:4.2857vw;/* 72px; */
    right:-1px;	
	
}
/* מיקום פתיחת תת תפריטי הנגישות בעגינה תחתונה בזמן הצגת קיצורי דרך */
/* .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size {
	position:absolute;    
    bottom:5.6547vw;/* 95px; */
    right:-1px;	
}

/* מיקום פתיחת תת תפריטי הנגישות בעגינה תחתונה בזמן הצגת קיצורי דרך - בריחוף או בפוקוס על התפריט */
/* .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size
{
	position:absolute;
    bottom:6.25vw;/*105px;*/
    right:-1px;	
}

.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
{
	position:absolute;
    bottom:4.881vw;/*82px;*/
    right:-1px;	
}


.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container {
	position:fixed!important;
    top:0px;
    left:4.762vw;/* 80px */
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container {
	position:relative;
	display:flex;
	flex-direction:row;
 }
/* פתיחת תת-תפריט נגישות למצב תפריטנגישות עליון */
.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_font_size {
    background-color:#eee;
    border:2px solid #999999;
	border-radius: 0 0 10px 10px;
    display:none;
    text-align:justify;
	display:flex;
	flex-direction:column;	
	
	position:absolute;
    top:4.2857vw;/* 72px; */
    right:-1px;	
	
}
/* פתיחת תת-תפריט נגישות למצב תפריט נגישות עליון */
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_accessibility_settings,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_letter_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_word_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_line_height,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_font_size {
    top:13vw;/* 51px; 3.0357vw */
}
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_accessibility_settings,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_letter_spacing,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_word_spacing,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_line_height,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_font_size {
	top: 8.2357vw;/* 8.2357vw */
}

.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
{
	position:absolute;
    top:4.881vw;/*82px; */
    left:-1px;	
}
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
{
    top:13vw;/* 51px; 3.0357vw */
    z-index:10001;/* above the accessibility panel for coolaxs_mobile top docking */
}
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
{
	top: 8.2357vw;
}



/* מיקום פתיחת תת תפריטי הנגישות בעגינה עליונה בזמן הצגת קיצורי דרך */
/* .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size {
    top:5.6547vw;/* 95px; */
    left:-1px;	
}

/* מיקום פתיחת תת תפריטי הנגישות בעגינה עליונה בזמן הצגת קיצורי דרך - בריחוף או בפוקוס על התפריט */
/* .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size
{
	position:absolute;
    top:6.25vw;/*105px;*/
    left:-1px;	
}

/* הצגת אייקון לפתיחת / סגירת תפריט הנגישות */
.coolaxs_toggle_accessibility_panel {
    position:fixed;
    z-index:100;/* zoom text window accessibility should be above it */

	cursor:pointer;
}
/* the accessibility icon that toggles opening and closing the accessability panel can be in 1 of the 4 corners */
.coolaxs_accessibility_panel_position_top_right {
    top:2px;
    right: 10px;	
}
.coolaxs_accessibility_panel_position_top_left {
    top:2px;
    left: 10px;	
}
.coolaxs_accessibility_panel_position_bottom_right {
    bottom:20px;
    right: 10px;		
}
.coolaxs_accessibility_panel_position_bottom_left {
    bottom:20px;
    left: 10px;	
}
/* this is an offset so the coolaxs_desktop_accessibility_panel won't hide (as it will be on top of) the coolaxs_toggle_accessibility_panel icon */
/* for .coolaxs_desktop_accessibility_panel  */
/* coolaxs_appos_ stands for coolaxs_accessibility_panel_position_ but it must be a different name than it to work properly because there is alerady a class with that name */
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container.coolaxs_appos_top_left, 
.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container.coolaxs_appos_bottom_left {
    left:4.7619047619vw;	
}
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container.coolaxs_appos_top_right,
.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container.coolaxs_appos_bottom_right 
{
    right:4.7619047619vw;
}

/* .coolaxs_mobile .coolaxs_toggle_accessibility_panel {
    bottom:5px;
} */
.coolaxs_mobile .coolaxs_accessibility_panel_position_top_right {
    top:5px;/* there is no Alt 0 in coolaxs_mobile */
}
.coolaxs_mobile .coolaxs_accessibility_panel_position_top_left {
    top:5px;/* there is no Alt 0 in coolaxs_mobile */
}
.coolaxs_mobile .coolaxs_accessibility_panel_position_bottom_right {
    bottom:5px;/* there is no Alt 0 in coolaxs_mobile */
}
.coolaxs_mobile .coolaxs_accessibility_panel_position_bottom_left {
    bottom:5px;/* there is no Alt 0 in coolaxs_mobile */
}

.coolaxs_toggle_accessibility_panel img {	    width:2.381vw;    height:2.381vw;}
.coolaxs_mobile .coolaxs_toggle_accessibility_panel img {     width:40px;    height:40px;}


@media only screen and (max-width: 1500px) and (min-width: 1024px)  {
	 
/* 	 body {		 background:pink!important;	 }  for debug */
	 .coolaxs_toggle_accessibility_panel img {
		width:30px;
		height:30px;
	}
	.coolaxs_toggle_accessibility_panel span {
		border-radius: 4px;
		padding-right: 2px;
		/* color: white; */
		font-size: 12px;
		width: 30px;
		position: absolute;
		bottom: -4px;
		left: -2px;
	}

	 .coolaxs_buttons {
		width: 40px;
		font-size: 10px;
		padding-top: 1px;
	}
	.coolaxs_buttons span {
		padding: 1px;
		font-size: 10px;
	}	
	.coolaxs_buttons img {
		width:25px;
		height:25px;
	}
	
	 .coolaxs_buttons:hover {
		width: 48px;
	}	
	.coolaxs_buttons:hover img, .coolaxs_buttons:focus img {
		width:30px!important;
		height:30px!important;

	}	
	
	.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_buttons span, .COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_buttons span {
		position: absolute;
		bottom: -3px;
		left: 5px;
	}
	
	
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_buttons:hover {
		width: 48px;
		position:absolute;
		left:0;
	}	
	
	
	 /* פתיחת תת-תפריט נגישות למצב תפריט נגישות שמאלי */
	.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_left_accessibility_panel #coolaxs_button_group_font_size {
		position:absolute;
		left:40px;
	}
	/* zoom text window accessibility should be above it */	
	 /* פתיחת תת-תפריט נגישות למצב תפריט נגישות שמאלי */
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
	{
		position:absolute;
		left:48px;
	}
	/* zoom text window accessibility should be above it */	

	
	/* עגינה בחלק התחתון או העליון באייקונים יותר גדולים */
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons { width: 50px; }
	
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons img {
		width:25px;
		height:25px;
	 /*   border:1px solid;
	 #999999;padding:2px;
		border-radius:3px;*/
	}
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:hover img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:hover img,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:focus img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:focus img

	 {
		width:35px!important;
		height:35px!important;
	}	
	
	
	.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_font_size {
		position:absolute;
		bottom:33px;
		right:-2px;	
		
	}
	/* מיקום פתיחת תת תפריטי הנגישות בעגינה תחתונה בזמן הצגת קיצורי דרך */
	/* .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size {
		position:absolute;    
		bottom:46px;
		right:-2px;	
	}

	/* מיקום פתיחת תת תפריטי הנגישות בעגינה תחתונה בזמן הצגת קיצורי דרך - בריחוף או בפוקוס על התפריט */
	/* .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size
	{
		position:absolute;
		bottom:57px;/*52px;*/
		right:-2px;	
	}

	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
	{
		position:absolute;
		bottom:43px;/*52px;*/
		right:-2px;	
	}


	/* פתיחת תת-תפריט נגישות למצב תפריטנגישות עליון */
	.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_top_accessibility_panel #coolaxs_button_group_font_size {

		position:absolute;
		top:33px;
		right:-2px;	
		
	}


	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
	{
		position:absolute;
		top:43px;/*52px;*/
		left:-2px;	
	}

	/* מיקום פתיחת תת תפריטי הנגישות בעגינה עליונה בזמן הצגת קיצורי דרך */
	/* .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size {
		top:46px;
		left:-2px;	
	}

	/* מיקום פתיחת תת תפריטי הנגישות בעגינה עליונה בזמן הצגת קיצורי דרך - בריחוף או בפוקוס על התפריט */
	/* .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_show_keyboard_shortcuts  are sdded by JS in menu.js*/
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_accessibility_settings,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_letter_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_word_spacing,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_line_height,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:hover .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size,.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_accessibility_panel_container:focus .coolaxs_show_keyboard_shortcuts #coolaxs_button_group_font_size
	{
		position:absolute;
		top:57px;/*52px;*/
		left:-2px;	
	}	
		
		
		
	
	
	
	
 } /* @media only screen and @media only screen and (min-width: 1024px) and (max-width: 1680) */


 
 
 
 
 
 
 
 @media only screen and (min-width: 1500px) {
 
	 .coolaxs_buttons {

		width:3.5714vw;	
/* 		width: 60px; */		
	}
	/* עגינה בחלק התחתון או העליון באייקונים יותר גדולים width: 90px; */
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons,
	.COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons { width:5.357vw;}
	
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons img {
		width:3.5714vw;
		height:3.5714vw;
/* 		width:60px;
		height:60px; */
	}
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:hover img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:hover img,
	.COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:focus img, .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:focus img

	 {
		 width:4.1667vw!important;
		height:4.1667vw!important;
/* 		width:70px!important;
		height:70px!important; */
	}	
 } /* @media only screen and (min-width: 1680px) */




 
 /* צביעת היקף האוביקט שבפוקוס באדום - צריך להיות בסוף אחרי עיצוב הקישורים */
.coolaxs_focus_css_activated input:focus , .coolaxs_focus_css_activated textarea:focus{
    background-color: yellow!important;
    color:black!important; 
    font-weight:bold;    
}

 
 .coolaxs_focus_css_activated :focus ,
.coolaxs_focus_css_activated a:focus,
.coolaxs_focus_css_activated img:focus,
.coolaxs_focus_css_activated span:focus,
.coolaxs_focus_css_activated li:focus{
    outline: red solid thick!important;
	outline-offset: 0px;
    background-color: yellow!important;
    color:black!important;
    font-weight:bold;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
/* selected item in the dropdown submenu */
.coolaxs_focus_css_activated .nav li > a:hover,
.coolaxs_focus_css_activated .nav li > a:focus,
.coolaxs_focus_css_activated .nav li:focus > a,
.coolaxs_focus_css_activated .nav li:hover > a {
	background: yellow!important;
    color:black!important; 
    font-weight:bold; 	
}
 

 
 



     
/* נגישות */            
 /* accessabilty */         
 /* id='content' is used for accessabilty and is used in functions.php coolaxs_accessibility_link_option_skip_menu_to_content() */   
 /* בשביל נגישות - דילוג מתחילת העמוד ישירות לכותרת עם לוצים על מקש 'טאב' בטעינת העמוד -->      */   
 /* based on https://www.bignerdranch.com/blog/web-accessibility-coolaxs_skip-navigation-links/ */
 /* דלג לתוכן העמוד */
.coolaxs_skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
a.coolaxs_skip {
    font-size:0px;
	position: absolute;
	/* אם יש תפריט סטיקי זה צריך להיות מעליו */ 
	z-index: 99;    
}

.coolaxs_focus_css_activated a.coolaxs_skip:active, 
.coolaxs_focus_css_activated a.coolaxs_skip:focus, 
.coolaxs_focus_css_activated a.coolaxs_skip:hover {
    left: 30px; 
    top: 27px;
    width: auto; 
    height: auto; 
    overflow: visible; 
    
    font-size:2em; line-height:2em; padding:0 20px;
    color:black;
    background:yellow;
}    

.coolaxs_focus_css_activated a.coolaxs_skip:active, .coolaxs_focus_css_activated a.coolaxs_skip:focus, .coolaxs_focus_css_activated a.coolaxs_skip:hover {
	left: 30px;
	top: 27px;
	width: auto;
	height: auto;
	overflow: visible;
	font-size: 1.4em;	line-height: 1.4em;	padding: 0 20px;
	color: black;
	background: yellow;
}


a.coolaxs_skip_rtl:active, 
a.coolaxs_skip_rtl:focus, 
a.coolaxs_skip_rtl:hover {
    left: calc(100% - 256px); 
}


/* נגישות */
/* מסגרת צפה של טקסט בזום על ידי ג'אווה סקריפט */
/* in /js/menu.js  	$('span,p,h1,h2,h3,h4,h5,h6,label,a').on('hover', function(event){   */
#coolaxs_tail {
    position: absolute;
    float: left;
    background:#ffe600;/*צהוב כתום*/ /*#ffd05d*/ /*#f9b818*/ /*light gold orange    yellow*/
    z-index:10002;/* above all - also above the accesability panel = and above coolaxs_mobile top docking */
    font-size:2em;
    line-height:1.5em;	
    padding:5px 25px 10px 25px;
	
    max-width:50%;
    max-height:50%;	
	overflow:auto;
	
    font-family:Arial;
    font-weight:bold;
    
    color: black; /*rgba(32,28,79,255); dark blue like the website colors*/
    border-radius:20px;
    box-shadow:0px 0px 20px 10px rgba(32,28,79,255);
    
    display:none;
}


/* these 2 are for fade in/out of the zoom icon popup little text window with yllow backround  near the mouse  cursor when mouseover on text or an image*/
#coolaxs_tail {
  opacity: 1;
  transition: opacity 1.2s; 
}
#coolaxs_tail.fade {
  opacity: 0;
  transition: opacity 1s; 
}
/* this is used to fadeout then in between 2 texts */
#coolaxs_tail.fastfade {
  opacity: 0.33;
  transition: opacity 0.66s; 
}





/* יש הפרדה בגלל שיש מקומות שאין להם רקע בכלל ולהם לא נוסיף רקע כמו בתיבות החיפוש ותיבות קלט */
/* נגישות - ניגודיות בהירה */
.coolaxs_bright_contrast {color : black!important;}
.coolaxs_bright_contrast_bkg_color {background-color : white!important;}
/* נגישות - ניגודיו כהה */
.coolaxs_dark_contrast {color : #fde92b!important;}
.coolaxs_dark_contrast_bkg_color {background-color : #093145!important;}
.coolaxs_dark_contrast_img {filter: brightness(90%);}
.COOL_ACCESSIBILITY_right_accessibility_panel .coolaxs_dark_contrast .coolaxs_buttons,
.COOL_ACCESSIBILITY_left_accessibility_panel .coolaxs_dark_contrast .coolaxs_buttons{
  padding-top: 0px;
  border:none;
}


/* there is already an id coolaxs_highlight_titles  */
.coolaxs_highlight_titles_colors {
	background-color: #ffe600;
	color: black !important;/* the important is uses to override the coolaxs_dark_contrast class text color yellow important */
}
/*
.coolaxs_dark_contrast.coolaxs_dark_contrast_bkg_color.coolaxs_highlight_titles_colors,
.coolaxs_dark_contrast.coolaxs_highlight_titles_colors
.coolaxs_highlight_titles_colors.coolaxs_dark_contrast,
.coolaxs_highlight_titles_colors.coolaxs_dark_contrast_bkg_color{
        background-color : #43947A;

}
*/
.coolaxs_highlight_titles_colors.coolaxs_dark_contrast *,
.coolaxs_highlight_titles_colors.coolaxs_dark_contrast_bkg_color *{
       /*   color:black;    */
}


/* נגישות - היפוך צבעים */
.coolaxs_inversed {
     height: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  
}

/* נגישות */
/* במצב ניגודיות כהה משנים את הרקע לכהה ולכן הטקסט צריך להיות מעל הרקע */
label {
    z-index:1;
}
/* במצב ניגודיות כהה או בהירה אחרת נעלמים קווים סביב תיבת הטקסט*/
input {
    background:transparent;
}

/*
a{ 
    cursor:url('/icons/coolaxs_cursor_big_pointer_white.png') 29 0, auto;
}
*/

/* נגישות */
/* גופן-קריא */
.coolaxs_readable_font {
    font-family:Arial!important;
}
/* 
=============================================================================================================
 THIS WORKS = REMEMBER TO TO CHANGE IN PHP TO USE THIS CSS FILE AND NOT THE MINIFI VERSION IF YOU WANT TO EXPERIMENT
 =============================================================================================================
 from : https://developer.mozilla.org/en-US/docs/Web/CSS/url
 Relative URLs, if used, are relative to the URL of the stylesheet (not to the URL of the web page).
  =============================================================================================================
 from https://www.freecodecamp.org/news/how-to-make-a-custom-mouse-cursor-with-css-and-javascript/   I got these url of cursor on the web that helped me fgure out the solution because i now was sure that it works , also I opened the browser dev tools and checked the css of ".coolaxs_big_white_cursor" and found it used the "style_accessibility.min.css" minified version and not this experimental "style_accessibility.css"
   =============================================================================================================
.coolaxs_big_white_cursor {
     cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
     cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562029/cursor-worm_kij6gi.png'), auto!important;
}
*/
.coolaxs_big_white_cursor {
    cursor:url('../icons/cursor_big_white.png'), auto!important;
}

.coolaxs_cursor_big_pointer_white {
    cursor:url('../icons/cursor_big_pointer_white.png') 29 0, pointer;
}


.coolaxs_big_black_cursor {
    cursor:url('../icons/cursor_big_black.png'), auto!important;
}

.coolaxs_cursor_big_pointer_black {
    cursor:url('../icons/cursor_big_pointer_black.png') 29 0, pointer!important;
}

/* just for debug - crazy colors and fonts - Jquery assign this class to the body in menu.js for accessibility*/
/*.coolaxs_focus_css_activated {
    color:red!important;
    font-size:20px!important;
    background:green!important;
}
*/










/* THIS PART IS FORMOBILE ONLY accessibility PANEL - the coolaxs_mobile class is added by jQuery to html in the file /js/menu.js */

.coolaxs_mobile .coolaxs_top_or_bottom_mobile_pannel {
        position:fixed;
    display:flex;
    left:20%; 
    border:2px solid black;
    border-radius:5px;
}
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_top_or_bottom_mobile_pannel {
        bottom:0;
}
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_top_or_bottom_mobile_pannel {
        top:0;
}
	
	
	
.coolaxs_mobile.coolaxs_mobile_landscape .coolaxs_top_or_bottom_mobile_pannel {
    left:10%;
}
.coolaxs_mobile .coolaxs_left_mobile_pannel {
        position:fixed;
    display:flex; flex-direction:column;
    left:0;
    bottom:15%;   
     border:2px solid black;
    border-radius:5px;   
}
.coolaxs_mobile.coolaxs_mobile_landscape .coolaxs_left_mobile_pannel {
    bottom:16%;
}
.coolaxs_mobile .coolaxs_right_mobile_pannel {
    position:fixed;
    display:flex; flex-direction:column;
    right:0;
    bottom:15%;  
    border:2px solid black;
    border-radius:5px;    
}

.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_right_mobile_pannel,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_left_mobile_pannel
 {
	bottom:15%;
    top:initial;  
}
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_right_mobile_pannel,
.coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_left_mobile_pannel
 {
	bottom:initial;
    top:15%;
}

.coolaxs_mobile .coolaxs_accessibility_panel {
    position:relative;
}
.coolaxs_mobile .coolaxs_buttons {
    vertical-align: middle;
    width: 15vw;
}
.coolaxs_mobile .coolaxs_buttons:hover, .coolaxs_mobile  .coolaxs_buttons:focus {
    vertical-align: middle;
    width: 15vw;
}

.coolaxs_mobile .coolaxs_buttons:hover img, .coolaxs_mobile  .coolaxs_buttons:focus img {
    width:15vw;
    height:15vw;
}

.coolaxs_mobile.coolaxs_mobile_landscape .coolaxs_buttons {
    vertical-align: middle;
    width: 9.9vw;
}
.coolaxs_mobile.coolaxs_mobile_landscape .coolaxs_buttons:hover img, .coolaxs_mobile.coolaxs_mobile_landscape  .coolaxs_buttons:focus img {
    width:9vw;
    height:9vw;
}


.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_accessibility_settings, .coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_letter_spacing, .coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_word_spacing, .coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_line_height, .coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_font_size {
	background-color: #eee;
	border: 2px solid #999999;
	border-radius: 10px 10px 0 0;
	display: none;
	text-align: justify;
	display: flex;
	flex-direction: column;

	position: absolute;
	top:initial;
	bottom: 13vw!important;/* 50px */
	right: -1px;
}
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_accessibility_settings, .coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_letter_spacing, .coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_word_spacing, .coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_line_height, .coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel #coolaxs_button_group_font_size {
	top:initial;
	bottom: 8.5vw!important;
	right: -1px;
}
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_accessibility_settings,.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_accessibility_settings,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_letter_spacing,.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_letter_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_word_spacing,.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_word_spacing,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_line_height,.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_line_height,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:hover #coolaxs_button_group_font_size,.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_accessibility_panel_container:focus #coolaxs_button_group_font_size
{
	position:absolute;
	top:initial;
	bottom:13vw;/*60px;*/
	right:-2px;	
}








/* this gives the height of the button */
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons img, .coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons img {
	width:10vw;
	height:10vw;
}
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons img,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons img {
	width:6.7vw;
	height:6.7vw;
}

/* this gives the height of the button */
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:hover img, .coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:hover img,
.coolaxs_mobile .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:focus img, .coolaxs_mobile .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:focus img
{
	width:10vw!important;
	height:10vw!important;
}
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:hover img,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:hover img,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_bottom_accessibility_panel .coolaxs_buttons:focus img,
.coolaxs_mobile.coolaxs_mobile_landscape .COOL_ACCESSIBILITY_top_accessibility_panel .coolaxs_buttons:focus img
{
	width:6.7vw!important;
	height:6.7vw!important;
}





/* the coolaxs_mobile classes is added by JQuery in menu.js when the screen resolution is lower than 1024px */
.coolaxs_mobile p.only_for_desktop_front_page_banner {
    display: none;
    max-height: 70px;
    background: yellow;
}

.coolaxs_mobile .frontpage_animation_gif_wrapper h1 {
	position: absolute;
	top: 12.3%;
	right: 0%;
	z-index: 10;
	/* color: black; */
	font-size: 11vw;
	font-family: 'Tigrisibiri-Bold';
	line-height: 16vw;
	color: #201c4f;
	/* width: 55vw; */
	width: 100vw;
	text-align: center;
}
.coolaxs_mobile.coolaxs_mobile_landscape .frontpage_animation_gif_wrapper h1 {
	top: 20%;
	font-size: 10vw;
}

.coolaxs_mobile.coolaxs_mobile_landscape .mi_anachnu_button {
	position: absolute;
	top: 50%;
	right: 43.5%;
	width: 12%;
	height: 12%;
}
.coolaxs_mobile.coolaxs_mobile_landscape .frontpage_animation_gif_wrapper a span {
	position: absolute;
	top: 27%;
	right: 14%;
	font-size: 2.6vw;
}
.coolaxs_mobile .frontpage_animation_gif_wrapper h1 span{
	background: white;
}

.coolaxs_mobile.coolaxs_mobile_landscape .frontpage_animation_gif_wrapper h1 span{
	background: initial;
	font-size:0.7em!important;
}
.coolaxs_mobile.coolaxs_mobile_landscape .frontpage_animation_gif_wrapper img{
	/*	transform: scale(1.8);

    position: absolute;
    clip: rect(0px,100px,50px,0px);
    */
}


.coolaxs_mobile .frontpage_animation_gif_wrapper p {
   	max-width: initial;
   	max-height: 35vh;
	width: 55vw;
	top: 25%;
}
.coolaxs_mobile .coolaxs_toggle_accessibility_panel span {
    display:none;
}

/* display is activated by jQuery in /js/menu.js */
.coolaxs_mobile_accessibility_panel, .coolaxs_desktop_accessibility_panel {
    display:none;
    position:fixed;
    z-index:10000!important;/* zoom text window accessibility should be above it and also coolaxs_mobile top docking sub menus*/    

}

/* to make the font more readable on white or black we remove text-shadows */
.coolaxs_bright_contrast * ,
.coolaxs_dark_contrast *
{
     text-shadow:initial!important;
}
 
 
.coolaxs_prevent_animations,
.coolaxs_prevent_animations:before,
.coolaxs_prevent_animations:after {
/*CSS transitions*/
transition-property: none !important;
/*CSS transforms*/
transform: none !important;
/*CSS animations*/
animation: none !important;
}
 
 
 
 
 
 
 
 
 
